
<h2>Post Details:</h2>
<div class="container">
<div id="wrap">
  <div id="first">
    <button routerLink="../create-page" class="btn btn-primary">create</button>
  </div>
  <div id="second">
    <button class="btn btn-primary" routerLink="/contact-form" > LogOut</button>
  </div>
</div>
<table >
<!-- class="table table-striped table-dark">  -->
    <tr>
      <th>S.No</th>
      <th>ID</th>
      <th>Title</th>
    </tr>
    <tr *ngFor="let student of students; index as i" (click)="goToPage('view-page',student)">
      <td>{{i+1}}</td>
      <td>{{student.id}}</td>
       <td>
        {{student.title}}
       </td>
       <!--<td> <a routerLink="../view-page">{{student.name}}</a> -->
    </tr>
  </table>
</div>