table,th,td{
    margin-top: 5%;
    border:1px solid;
    border-collapse:collapse;
    padding:5px;
    text-align: center;
    align-items: center;
    background-color: rgb(209, 76, 118);
    color:floralwhite;
    margin-bottom: 5%;
}
table{
    margin-left: 20%;
}
.container{
    /* background:rgba(143, 78, 118, 0.5); */
    background: linear-gradient(135deg,#05073a,#dc0606ca);
    /* max-height: 800px;
    height: 80%; */
}
#wrap{
    display:flex;
    flex-direction: row;
    margin-top: 5%;
}
 #first{
    float:left;
    width:50%;
    margin-left: 20%;
   
}
#second{
    width:50%;
} 